$search-border: 92px;
$search-height: 46px;
$button-width: 52px;
.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(255 255 255 /12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}
.search, 
.search-result {
    width: 500px;
}
.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: var(--black-theme-background);
    border-radius: $search-border;
    border: 1px solid transparent;
    display: flex;

    .input {
        font-weight: 400;
        font-size: 1.6rem;
        height: 100%;
        flex: 1;
        padding: 0;
        color: var(--black-theme-text);
        caret-color: var(--primary-color);
        &:hover ~ .search-btn {
            cursor: text;
            background-color: rgba(255, 255, 255, 0.12);
        }
        &:not(:placeholder-shown) ~ .search-btn {
            background-color: rgba(255, 255, 255, 0.12);
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 9px;
        right: $button-width;
        height: calc($search-height - 18px);
        width: 1px;
        background-color: rgba(255, 255, 255, .12);
    }
    &:focus-within {
        border: 1px solid rgba(255, 255, 255, .2);
    }
}
.clear,
.loading {
    position: absolute;
    right: calc($button-width + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .34);
}
.search-btn {
    font-size: 1.8rem;
    font-weight: 300;
    width: $button-width;
    height: 100%;
    border-top-right-radius: $search-border;
    border-bottom-right-radius: $search-border;
    color: var(--black-theme-text);
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.12);
    }
    &:active {
        background: rgba(255, 255, 255, .08);
    }
}
.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    padding: 4px 8px;
    color: var(--black-theme-text);
    background-color: transparent;
    margin-left: 28px;
    cursor: pointer;
}
.user-avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
.action-btn {
    background-color: transparent;
    padding: 4px 12px;
    font-size: 2.2rem;
    cursor: pointer;
}
